<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>

<body>
    <div class="container">
    <nav class="navbar">
            <div class="features">
                <div class="home"><a href="/dashboard_home">Home</a></div>
                <div class="about"><a href="/dashboard_about">About</a></div>
                <div class="contact"><a href="/dashboard_contact">Contact</a></div>
            </div>
            <div class="logout"><a href="/logout">Logout</a> </div>
        </nav>

        <div class="main">
            <h1>About Me</h1>
            <p>
                Hello! This is Abhishek Kumar Singh 3rd year IT engineering student passionate about technology,
                problem-solving,
                and building practical solutions. I enjoy learning new skills, experimenting
                with projects, and exploring how engineering can make a positive impact.
            </p>

            <div class="info">
                <h2>Interests</h2>
                <ul>
                    <li>Software Development</li>
                    <li>Web Technologies</li>
                    <li>Artificial Intelligence</li>
                    <li>Blockchain</li>
                    <li>Machine Learning</li>
                </ul>

                <h2>Skills</h2>
                <ul>
                    <li>Python, C/C++</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>Full stack Web Development</li>
                    <li>Problem Solving</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>