<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to My Flask App</h1>
        <p>Please sign up if you are a new user or sign in if you already have an account.</p>
        <div class="buttons">
            <a href="/signup" class="btn btn-blue">Sign Up</a>
            <a href="/signin" class="btn btn-green">Sign In</a>
        </div>
    </div>
</body>
</html>
